{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<h1>Password</h1>
<p>
    Please enter your old password, for security's sake, and
    then enter your new password twice so we can verify you typed it in correctly.
</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success" value="Change my password">
</form>
{% endblock content %}