{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}

<h1>Homepage</h1>
<img src="{% static 'images/img.jpg' %}" alt="" class="bookcover">
{% if user.is_authenticated %}
Hi {{ user.email }}
<p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Log In</a>
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}